{{ form_start(form) }}
    {{ form_errors(form) }}

<div id="form">
    <div style="grid-row: 1;grid-column: 1 / 2;">
        <p>Lokalizacja</p>
        {{ form_row(form.voivodeship) }}
        {{ form_row(form.county) }}
        {{ form_row(form.locality) }}
        {{ form_row(form.street) }}
        <p>Czas</p>
        {{ form_row(form.fromDate) }}
        {{ form_row(form.toDate) }}
        <p>Miejsce</p>
        {{ form_row(form.accidentSite) }}
        {{ form_row(form.roadType) }}
        {{ form_row(form.light) }}
        {{ form_row(form.trafficLights) }}
        {{ form_row(form.intersectionType) }}
        <p>Przyczyny</p>
        {{ form_row(form.accidentType) }}
        {{ form_row(form.driversCause) }}
        {{ form_row(form.pedestriansCause) }}
        {{ form_row(form.otherCause) }}
        <p>Skutki</p>
        {{ form_row(form.injury) }}
    </div>

    <div style="grid-row: 1;grid-column: 2 / 3;">
        <p>Pojazdy uczestników</p>
        <div class="form-checkbox">
            {{ form_row(form.vehicleType) }}
        </div>
        <p>Piesi</p>
        {{ form_row(form.pedestriansPresence) }}
        <p>Statystyki</p>
        {{ form_row(form.categories) }}
        {{ form_row(form.reports) }}
        <p>Lista zdarzeń</p>
        {{ form_row(form.accidents) }}
    </div>
</div>
{{ form_end(form) }}