{% extends 'base.html.twig' %}
{% block body %}
    <div id="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <h3>Lista Zdarzeń</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Adres</th>
            <th>Miejsce zdarzenie</th>
            <th>Rodzaj zdarzenia</th>
            <th>Data zdarzenia</th>
        </tr>
        {% for accident in accidents %}
            <tr>
                <td>{{ accident.id }}</td>
                <td style="text-align: left">{{ accident.locality }} {{ accident.street }} {{ accident.houseNumber }}
                    {% if accident.intersectionStreet is not empty %}
                        / {{ accident.intersectionStreet }}
                    {% endif %}
                </td>
                <td>{{ accident.siteCharacteristic }}</td>
                <td>{{ accident.accidentType }}</td>
                <td>{{ accident.time|date("Y-m-d H:i") }}</td>
            </tr>
        {% else %}
            <tr>
                <td>Empty table.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}