{% extends 'base.html.twig' %}
{% block body %}
    <div id="accident-page">
    <h2>Zdarzenie {{ accident.id }}</h2>
    <h3>Lokalizacja</h3>
    <ul>
        <li>{{ accident.voivodeship }}</li>
        <li>Powiat: {{ accident.county }}</li>
        <li>Gmina" {{ accident.commune }}</li>
        <li>{{ accident.locality }} {{ accident.street }} {{ accident.houseNumber }}
            {% if accident.intersectionStreet is not empty %}
                / {{ accident.intersectionStreet }}
            {% endif %}
        </li>
    </ul>
    <h3>Czas</h3>
    <ul>
        <li>{{ accident.time|date("Y-m-d H:i") }}</li>
        <li>Warunki oświetleniowe: {{ accident.light }}</li>
        <li>Warunki pogodowe: {{ accident.weather }}</li>
        <li>Rodzaj zdarzenia: {{ accident.accidentType }}</li>
    </ul>
    <h3>Miejsce zdarzenia</h3>
    <ul>
        <li>Charakterystyka miejsca zdarzenia: {{ accident.siteCharacteristic }}</li>
        <li>Typ drogi: {{ accident.roadType }}</li>
        <li>Ograniczenie prędkości: {{ accident.speedLimit }} km/h</li>
        <li>Typ nawierzchni: {{ accident.pavement }}</li>
        <li>Stan nawierzchni: {{ accident.surfaceCondition }}</li>
        <li>Geometria drogi: {{ accident.roadGeometry }}</li>
        <li>Sygnalizacja świetlna: {{ accident.trafficLights }}</li>
        <li>Oznakowanie poziome: {{ accident.surfaceMarking }}</li>
        <li>Rodzaj skrzyżowania: {{ accident.intersectionType }}</li>
        <li>Teren zabudowany: {{ accident.builtUpArea }}</li>
    </ul>
    <h3>Inne przyczyny zdarzenia</h3>
    <ul>
        <li>{{ accident.otherCause }}</li>
    </ul>
    <h3>Pojazdy i uczestnicy</h3>
    </div>
{% endblock %}